<md-content layout="column" layout-fill>
	<div class="wizard-top">
		<div class="wizard-logo">
			<img src="../../app/assets/img/png/logo.png" alt="Zeva logo" class="img-responsive" style="width:100%;height:100%;" />
		</div>
	</div>
	<div class="login-bottom" layout="column" layout-align="space-between">
		<div>&nbsp;</div>
		<div translate="register.TITLE" class="fa-7 login-text-color text-center">
		</div>
		<div class="text-center fa-8 select-country">
			<!--<md-input-container>
				<md-select ng-model="data.user.address.countryName" ng-change="changeCountryCode()" aria-label="Select the country">
					<md-option value=""></md-option>
					<md-option ng-repeat="country in countries" value="{{country.shortName}}">
						{{country.longName}}
					</md-option>
				</md-select>
			</md-input-container>-->
			<md-autocomplete class="fa-7"
				md-selected-item="selectedCountry"
				md-search-text-change="countryTextChange(searchText)"
				md-search-text="searchText"
				md-selected-item-change="countrySelectedItemChange(item)"
				md-items="item in doCountrySearch(searchText)"
				md-item-text="item.longName"
				md-min-length="0"
				placeholder="{{'register.PLACEHOLDER_COUNTRY' | translate}}">
				<md-item-template>
					<span md-highlight-text="searchText" md-highlight-flags="^i">{{item.longName}}</span>
				</md-item-template>
				<md-not-found>
					<span translate="register.MSG_NO_COUNTRY_FOUND" translate-values='{ countryName: "{{searchText}}"}'></span>								
				</md-not-found>
			</md-autocomplete>
		</div>
		<div>
			<div layout="row" layout-align="center center">
				<md-divider flex="80" class="white-divider"></md-divider>
			</div>
			<div layout="row" layout-align="center center" layout-padding>
				<div flex="20" class="text-center fa-7 bright-text-color">{{data.user.address.countryISD}}</div>
				<div flex="60" layout="row" layout-align="start end">
					<md-input-container style="width:100%;">
						<input autofocus ng-model="data.user.mobile" aria-label="Enter Mobile Number" type="text" class="fa-8 input-border text-center light-text"
						ui-mask="999 999 9999" ui-mask-placeholder ui-mask-placeholder-char="" style="width:100% !important;text-align:center;">
					</md-input-container>
				</div>
			</div>
			<div layout="row" layout-align="center center" ng-if="viewLogin">
				<md-divider flex="80" class="white-divider"></md-divider>
			</div>
			<div layout="row" layout-align="center center" ng-if="viewLogin" layout-padding>
				<div flex="20" class="text-center fa-7"><i class="fa fa-unlock-alt fa-1x bright-text-color"></i></div>
				<div flex="60">
					<md-input-container style="width:100%;">
						<input ng-model="model.password" aria-label="Enter Login Pin" type="password" class="fa-8 input-border text-center light-text light-placeholder"
						style="width:100% !important;text-align:center;">
					</md-input-container>
				</div>
			</div>
			<div layout="row" layout-align="center center">
				<md-divider flex="80" class="white-divider"></md-divider>
			</div>
		</div>

		<div ng-if="!viewLogin" layout="row" layout-align="center center" class="width-100">
			<md-button class="fa-7 text-center btn-light-1 width-100" aria-label="Continue" ng-click="showVerifyMobile()">
				<strong translate="register.TXT_BTN_CONTINUE"></strong>
			</md-button>
		</div>
		<div ng-if="viewLogin" layout="row" layout-align="center center" class="width-100">
			<md-button class="fa-7 text-center btn-light-1 width-100" aria-label="Done" ng-click="loginUser($event)">
				<strong translate="login.TXT_BTN_DONE"></strong>
			</md-button>
		</div>
		<div>&nbsp;</div>
		<div>&nbsp;</div>

		<div layout="row" class="fixed-bottom fa-7 login-text-color login-bg" layout-align="space-around center">
			<div ng-if="viewLogin" layout="row" layout-align="center center" class="width-100">
				<md-button class="fa-7 text-center btn-dark-1" aria-label="Login With Pin" ng-click="showLogin()">
					<strong translate="register.TXT_BTN_SIGN_UP"></strong>
				</md-button>
			</div>

			<div ng-if="!viewLogin" layout="row" login-text-color layout-align="center center" class="width-100">
				<md-button class="fa-7 text-center btn-dark-1" aria-label="Back To Verification" ng-click="showLogin()">
					<strong translate="login.TXT_BTN_BACK_TO_LOGIN"></strong>
				</md-button>
			</div>
		</div>

		<div>&nbsp;</div>
	</div>
</md-content>